body {
	background-color: blue;
	background-image: url("../img/blake.jpg");
}

h1 {
	font-family: Georgia;
	font-size: 100px;
	color: white;
	width:70%;
}

h1:hover {
	color: red;
}


hr {
	width: 70%;
	float: left;
	background-color: #f00;
	height: 10px;
	border: none;
}